
body {
  background: rgb(28, 31, 38);
}
.js-dot {
  padding-left: 15px;
}
.dot{
  display:block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: rgb(255, 101, 46);
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -2px;
  overflow: visible;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  box-sizing: content-box;
}

.logo {
  background-image: url('./assets/jd-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin:0 10px 5px -3px;
}
.circle {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}
.js-title {
  opacity: 0;
  margin: 200px 0 0;
}
.js-links li {
  opacity: 0;
}

.link:focus {
  outline: none;
}
.orange-underline {
  text-decoration-color: rgb(255, 101, 46);
  text-decoration-skip: ink;
}
.orange-underline:hover {
  text-decoration: none;
  color:rgb(255, 101, 46);
}
.github-icon {
  background-image: url('./assets/github.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.js-about .orange-underline {
  color: #fff;
}

@media screen and (min-width: 30em) {
  .js-about p {
    color: #111; /* near black */
  }
  .js-about .orange-underline {
    color: #111;
  }
}

@media screen and (max-width: 960px) {
  .js-br {
    display: none;
  }
}

.timeline-dot {
  background-image: url('./assets/jd-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

/* overrides */
.bg-orange {
  background: rgb(255, 101, 46);
}
