
body {
  background: rgb(28, 31, 38);
}

.dot{
  display:block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: rgb(255, 101, 46);
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -2px;
  overflow: visible;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  box-sizing: content-box;
}

.logo {
  background-image: url('./assets/jd-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  margin:0 10px 0 -3px;
}
.circle {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

footer {
  display: none;
}

.js-title {
  opacity: 0;
  margin: 0;
}
.js-links li {
  opacity: 0;
}

@media screen and (max-width: 960px) {
  .js-br {
    display: none;
  }
}
